.nav{
    display:flex;
    flex-direction: row;
    gap:29px;
    justify-content: flex-end;
}

.head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.comp{
    display:inline;
    margin-left:20px;
}

.but{
    display:inline-flex;
    border-radius:20px;
    border:solid black 2px;
    width:100px;
    height:30px;
    margin-right:24px;
}

.navtext{
    text-decoration: none;
    align-self: flex-end;
    color:black;
}

.section1 {
    background-image: url(e7a1263a-ac15-4db4-8cc0-944eb9ea637a.jpg);
    height: 860px;
    width:100%;
    margin: 20px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.head h2 {
    margin:0;
    margin-left:20px;
}

h1{
    color:white;
    font-size: 100px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-top:-200px;
}

.lorem{
    color:rgb(255, 255, 255);
    text-align: center;
    text-indent: 20px;
}

.twitter{
    font-size:50px;
    color:rgb(255, 255, 255);
}

.facebook{
    font-size:50px;
    color:rgb(255, 255, 255);
}

.github{
    font-size:50px;
    color:rgb(255, 253, 253);
}

.socmed {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:50%;
    top:20%;
}

.main{
    height:100vh;
    margin:20px;
}

.main h1 {
    margin:0;
    color:black;
}

.img {
    display:flex;
    width:200px;
    height:330px;
}
