.nav{
    display:inline-flex;
    flex-direction: row;
    gap:29px;
    justify-content: flex-end;
}

.head {
    display:flex;
    justify-content: flex-end;
}

.comp{
    display:inline;
    margin-left:20px;
}

.but{
    display:inline-flex;
    border-radius:20px;
    border:solid black 2px;
    width:100px;
    height:30px;
}

.navtext{
    text-decoration: none;
}

.main1{
    background-image: url(tropical-beach-2560x1440-14811.jpg);
    width:auto;
    height:860px;
    margin:20px;
    border-radius:30px;
}

body{
    font-family: "Luckiest Guy";
}
