body{
    background-image: url(tropical-beach-2560x1440-14811.jpg);
}

.box{
    border:solid 2px rgb(114, 51, 114);
    border-radius:10px;
    width:1300px;
    height:750px;
    margin:auto;
    margin-top:110px;
    background:rgb(114, 43, 114);
}